/* Custom chart styling  for drupal*/
.jOrgChart {
	margin                : 10px;
	padding               : 20px;
}
.jOrgChart table{
    margin:0px;
    padding:0px;
    
}	
.jOrgChart tr{
    background:none;
    padding: 0px;
    border:none;
    text-align: none;
}

.jOrgChart td{
    background:none;
    padding: 0px;
	border:none;
	text-align: none;
}